.jumbotron {
  padding-top: 90px;
  min-height: 400px;
  margin-bottom: 0;
  background-image: url('images/AboutPic.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.blogs ul{
  list-style-type: none;
}

